.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 5px;
    color: rgb(225, 118, 41);
    text-shadow: 0px 0px 5px black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    top: 620px;
}
label {
    text-shadow: 0px 0px 5px rgba(26, 60, 235, 0.75);
}
input {
    box-shadow: 1px 1px 37px -4px rgba(26, 60, 235, 0.75);
    -webkit-box-shadow: 1px 1px 37px -4px rgba(26, 60, 235, 0.75);
    -moz-box-shadow: 1px 1px 37px -4px rgba(26, 60, 235, 0.75);
}
button {
    width: 100px;
    height: 30px;
    background-color: aquamarine;
    border-radius: 6px;
    border: yellow 1px solid;
    box-shadow: 1px 1px 37px -4px rgba(26, 60, 235, 0.75);
    -webkit-box-shadow: 1px 1px 37px -4px rgba(26, 60, 235, 0.75);
    -moz-box-shadow: 1px 1px 37px -4px rgba(26, 60, 235, 0.75);
}
.instructions {
    font-size: 0.1rem;
    position: relative;
    transition: forwards 0.8s linear;
    top: 230px;
    left: 70px;
    opacity: 0;
}
.instructions-ani {
    background-color: rgb(246, 201, 168);
    border-radius: 60%;
    animation: text-out-beak forwards 2.2s linear;
    opacity: 0;
    height: 200px;
    box-shadow: 0px -1px 35px -6px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 0px -1px 35px -6px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 0px -1px 35px -6px rgba(0, 0, 0, 0.75) inset;
}
.instructions-ani h3 {
    margin: 10px;
    padding: 10px;
    font-size: 0.8rem;
}
.chicken--container {
    position: absolute;
    top: 300px;
    right: -10px;
}
.chicken-main {
    width: 300px;
    position: relative;
}
.chicken-eye {
    position: absolute;
    width: 12px;
    z-index: 2;
    top: 20px;
    left: 23px;
    opacity: 0.7;
}
.chicken-eye-ani {
    animation: eye-size forwards 1.2s linear;
}
.chicken-wing {
    width: 170px;
    position: absolute;
    top: 90px;
    left: 60px;
    transform-origin: 0% 0%;
}
.chicken-wing-ani {
    animation: wing-rotate forwards 1.2s linear;
}
.chicken-top-beak {
    width: 50px;
    position: absolute;
    z-index: 2;
    top: 25px;
    left: -20px;
    transform-origin: 80% 80%;
}
.chicken-top-beak-ani {
    animation: top-beak-rotate forwards 1.2s linear;
}
.chicken-bottom-beak {
    position: absolute;
    width: 50px;
    top: 35px;
    left: -20px;
    z-index: 3;
    transform-origin: 90% 90%;
}
.chicken-bottom-beak-ani {
    animation: bottom-beak-rotate forwards 0.8s linear;
}

@keyframes top-beak-rotate {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(18deg);
    }
}
@keyframes bottom-beak-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-5deg);
    }
}
@keyframes wing-rotate {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-20deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-20deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    60% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-20deg);
    }
    80% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}
@keyframes eye-size {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
        opacity: 1;
    }
}

@keyframes text-out-beak {
    0% {
         transform: translateX(90px) translateY(60px) scale(0.01);
         z-index: -99;        
    }
     60% {
        transform: translateX(90px) translateY(120px) scale(0.05)
            rotate(0deg);

        opacity: 0.2;
    }
    70% {
        z-index:-99;
    }
    100% {
        transform: translateX(-0px) translateY(270px) scale(0.8) rotate(360deg);
        opacity: 1;
    }
}



@media screen and (min-width: 400px) {
  .chicken--container {
    position: absolute;
    top: 300px;
    right: 330px;
  }  
}